<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://erysouza98.github.io/functions/public/stylesheets.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>portfolioss</title>
</head>
<body>
    <a href="https://github.com/erysouza98" target="_blank" class="github-corner" aria-label="View source on GitHub"><svg width="90" height="90" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; left: 0; transform: scale(-1, 1); z-index: 9999" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style></a>

    <header class="mb-1">
        <% layout('layouts/boilerplate.ejs')%>
    </header>

    <main class="mt-2">
        <div class="my-auto text-center">

        <h2 class="display-5">  My Portfolio &#128203 </h2>
        <h1 class="display-3 mb-3">Hello, my name is Erika!</h1>
       
        <img mb-3 src="https://erysouza98.github.io/functions/public/images/me.png" width="300px"/>
        
        <h1 class="display-2"> &#x1F4BB </h1>
        <h3 class="display-6 d-inline"> (Soon to be Developer <span class="d-inline"><%- include('./partials/dots') %></span>)</h3>
    </div>

<div class="mb-3">

    <div class="mt-4 text-center">
        <button class="btn btn-lg" id="button1" data-bs-toggle="modal" data-bs-target="#aboutmeModal">
            <i class="fa fa-user-plus"></i>
        </button>
        <div class="modal fade" id="aboutmeModal" aria-hidden="true">
            <%- include('./partials/aboutme-modal') %>
        </div>

    <div class="mt-4 text-center">
        <button class="btn btn" id="button2" data-bs-toggle="modal" data-bs-target="#certificatesModal">
            <i class="fa fa-graduation-cap"></i>
        </button>
        <div class="modal fade" id="certificatesModal" aria-hidden="true">
            <%- include('./partials/certificates-modal') %>
        </div>
       

    <div class="mt-4 text-center">
        <button class="btn btn" id="button3" data-bs-toggle="modal" data-bs-target="#projectsModal">
            <i class="fa fa-folder-open"></i>
        </button>
        <div class="modal fade" id="projectsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <%- include('./partials/projects-modal') %>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <%- include('./partials/game') %>
    </div>
</div>







    </main>
   


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
crossorigin="anonymous"></script>

</body>
</html>

